/* Edit theme.less, not this file. */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
/* ==========================================================================
   Base
   ========================================================================== */
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
}
p {
  margin: 0;
}
/* ==========================================================================
   Links
   ========================================================================== */
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
/* ==========================================================================
   Typography
   ========================================================================== */
h1 {
  font-size: 2em;
}
h1,
h2,
h3 {
  font-weight: normal;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
mark {
  background: #ff0;
  color: #000;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* ==========================================================================
   Embedded content
   ========================================================================== */
img {
  border: 0;
  max-width: 100%;
  height: auto;
}
svg:not(:root) {
  overflow: hidden;
}
/* ==========================================================================
   Figures
   ========================================================================== */
figure {
  margin: 0;
}
/* ==========================================================================
   Forms
   ========================================================================== */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  outline: none;
}
button,
input {
  line-height: normal;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
/* ==========================================================================
   Tables
   ========================================================================== */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.clear {
  /* http://sonspring.com/journal/clearing-floats */
  clear: both;
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  width: 0;
}
.clearfix,
.ipModuleForm .form-horizontal .form-group,
.ipModuleForm.form-horizontal .form-group {
  /* http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified */
  /*
The following zoom:1 rule is specifically for IE6 + IE7.
Move to separate stylesheet if invalid CSS is a problem.
*/
  zoom: 1;
}
.clearfix:before,
.clearfix:after,
.ipModuleForm .form-horizontal .form-group:before,
.ipModuleForm .form-horizontal .form-group:after,
.ipModuleForm.form-horizontal .form-group:before,
.ipModuleForm.form-horizontal .form-group:after {
  content: '.';
  display: block;
  font-size: 0;
  height: 0;
  line-height: 0;
  overflow: hidden;
  visibility: hidden;
  width: 0;
}
.clearfix:after,
.ipModuleForm .form-horizontal .form-group:after,
.ipModuleForm.form-horizontal .form-group:after {
  clear: both;
}
html,
body {
  border: none;
  margin: 0;
  padding: 0;
}
.quote {
  color: #000000;
  display: block;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 24px;
  font-style: italic;
  font-weight: normal;
  margin: 1em;
  text-align: center;
}
.note {
  background-color: transparent;
  border-left-color: #747474;
  border-left-style: solid;
  border-left-width: 2px;
  color: #000000;
  display: block;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
  font-style: italic;
  font-weight: normal;
  margin-bottom: 1em;
  padding-left: 1em;
}
.button {
  background-color: #019bd4;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: bold;
  padding: 0.5em 1em 0.5em 1em;
  text-decoration: none;
}
.ipWidget {
  /* http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified */
  /*
The following zoom:1 rule is specifically for IE6 + IE7.
Move to separate stylesheet if invalid CSS is a problem.
*/
  zoom: 1;
  *zoom: 1;
  color: #000000;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
  margin-bottom: 20px;
}
.ipWidget:before,
.ipWidget:after {
  content: '.';
  display: block;
  font-size: 0;
  height: 0;
  line-height: 0;
  overflow: hidden;
  visibility: hidden;
  width: 0;
}
.ipWidget:after {
  clear: both;
}
.ipWidget:before,
.ipWidget:after {
  content: '.';
  display: block;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0;
}
.ipWidget:after {
  clear: both;
}
.ipWidget:before,
.ipWidget:after {
  content: " ";
  display: table;
}
.ipWidget:after {
  clear: both;
}
.ipWidget h1,
.ipWidget h2,
.ipWidget h3,
.ipWidget h4,
.ipWidget h5,
.ipWidget h6,
.ipWidget img,
.ipWidget blockquote,
.ipWidget p,
.ipWidget ul,
.ipWidget ol,
.ipWidget li,
.ipWidget dl,
.ipWidget dd,
.ipWidget dt,
.ipWidget pre {
  border: none;
  margin: 0;
  padding: 0;
}
.ipWidget:last-child {
  margin-bottom: 0;
}
.ipWidget .quote {
  color: #000000;
  display: block;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 24px;
  font-style: italic;
  font-weight: normal;
  margin: 1em;
  text-align: center;
}
.ipWidget .note {
  background-color: transparent;
  border-left-color: #747474;
  border-left-style: solid;
  border-left-width: 2px;
  color: #000000;
  display: block;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
  font-style: italic;
  font-weight: normal;
  margin-bottom: 1em;
  padding-left: 1em;
}
.ipWidget .button {
  background-color: #019bd4;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: bold;
  padding: 0.5em 1em 0.5em 1em;
  text-decoration: none;
}
.ipWidget h1 {
  color: #000000;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 36px;
}
.ipWidget h2 {
  color: #000000;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 30px;
}
.ipWidget h3 {
  color: #000000;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 24px;
}
.ipWidget ul {
  list-style-position: inside;
  list-style-type: square;
  margin: 0 0 1em 1em;
}
.ipWidget ol {
  list-style-position: inside;
  margin: 0 0 1em 1em;
}
.ipWidget p {
  line-height: 1.5;
  margin-bottom: 1em;
}
.ipWidget ul ul,
.ipWidget ol ol {
  margin-bottom: 0;
}
.ipWidget li {
  line-height: 1.5;
  margin-bottom: 5px;
}
.ipWidget p + ul,
.ipWidget p + ol {
  margin-top: -0.5em;
}
.ipWidget a {
  color: #019bd4;
  text-decoration: none;
}
.ipWidget a:hover {
  text-decoration: underline;
}
.ipWidget table {
  border-collapse: collapse;
  color: #000000;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
  margin-bottom: 1em;
  width: 100%;
}
.ipWidget table p {
  line-height: normal;
  margin: 0;
}
.ipWidget td {
  border-bottom: 1px solid #747474;
  font-size: 14px;
  padding: 9px;
}
.ipWidget th,
.ipWidget thead td,
.ipWidget tbody tr:first-child td {
  font-size: 14px;
  font-weight: bold;
}
.ipWidget thead + tbody tr:first-child td {
  background-color: transparent;
  border-bottom: 1px solid #8e8e8e;
  color: inherit;
  font-size: 14px;
  font-weight: normal;
}
.ipWidget p:last-child,
.ipWidget ul:last-child,
.ipWidget ol:last-child {
  margin-bottom: 0;
}
.ipModuleForm fieldset {
  padding: 0;
  margin: 0;
  border: 0;
  min-width: 0;
}
.ipModuleForm legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 21px;
  font-size: 21px;
  line-height: inherit;
  color: #000000;
  border: 0;
  border-bottom: 1px solid #747474;
}
.ipModuleForm label {
  display: inline-block;
  margin-bottom: 5px;
  font-weight: bold;
}
.ipModuleForm input[type="search"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.ipModuleForm input[type="radio"],
.ipModuleForm input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  /* IE8-9 */
  line-height: normal;
}
.ipModuleForm input[type="file"] {
  display: block;
}
.ipModuleForm input[type="range"] {
  display: block;
  width: 100%;
}
.ipModuleForm select[multiple],
.ipModuleForm select[size] {
  height: auto;
}
.ipModuleForm input[type="file"]:focus,
.ipModuleForm input[type="radio"]:focus,
.ipModuleForm input[type="checkbox"]:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.ipModuleForm output {
  display: block;
  padding-top: 7px;
  font-size: 14px;
  line-height: 1.5;
  color: #000000;
}
.ipModuleForm .form-control {
  display: block;
  width: 100%;
  height: 35px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.5;
  color: #000000;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #747474;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.ipModuleForm .form-control:focus {
  border-color: #000000;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(0, 0, 0, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(0, 0, 0, 0.6);
}
.ipModuleForm .form-control::-moz-placeholder {
  color: #777777;
  opacity: 1;
}
.ipModuleForm .form-control:-ms-input-placeholder {
  color: #777777;
}
.ipModuleForm .form-control::-webkit-input-placeholder {
  color: #777777;
}
.ipModuleForm .form-control[disabled],
.ipModuleForm .form-control[readonly],
fieldset[disabled] .ipModuleForm .form-control {
  cursor: not-allowed;
  background-color: #eeeeee;
  opacity: 1;
}
textarea.ipModuleForm .form-control {
  height: auto;
}
.ipModuleForm input[type="search"] {
  -webkit-appearance: none;
}
.ipModuleForm input[type="date"] {
  line-height: 35px;
}
.ipModuleForm .form-group {
  margin-bottom: 15px;
}
.ipModuleForm .radio,
.ipModuleForm .checkbox {
  display: block;
  min-height: 21px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 20px;
}
.ipModuleForm .radio label,
.ipModuleForm .checkbox label {
  display: inline;
  font-weight: normal;
  cursor: pointer;
}
.ipModuleForm .radio input[type="radio"],
.ipModuleForm .radio-inline input[type="radio"],
.ipModuleForm .checkbox input[type="checkbox"],
.ipModuleForm .checkbox-inline input[type="checkbox"] {
  float: left;
  margin-left: -20px;
}
.ipModuleForm .radio + .radio,
.ipModuleForm .checkbox + .checkbox {
  margin-top: -5px;
}
.ipModuleForm .radio-inline,
.ipModuleForm .checkbox-inline {
  display: inline-block;
  padding-left: 20px;
  margin-bottom: 0;
  vertical-align: middle;
  font-weight: normal;
  cursor: pointer;
}
.ipModuleForm .radio-inline + .radio-inline,
.ipModuleForm .checkbox-inline + .checkbox-inline {
  margin-top: 0;
  margin-left: 10px;
}
.ipModuleForm input[type="radio"][disabled],
.ipModuleForm input[type="checkbox"][disabled],
.ipModuleForm .radio[disabled],
.ipModuleForm .radio-inline[disabled],
.ipModuleForm .checkbox[disabled],
.ipModuleForm .checkbox-inline[disabled],
fieldset[disabled] .ipModuleForm input[type="radio"],
fieldset[disabled] .ipModuleForm input[type="checkbox"],
fieldset[disabled] .ipModuleForm .radio,
fieldset[disabled] .ipModuleForm .radio-inline,
fieldset[disabled] .ipModuleForm .checkbox,
fieldset[disabled] .ipModuleForm .checkbox-inline {
  cursor: not-allowed;
}
.ipModuleForm .has-feedback {
  position: relative;
}
.ipModuleForm .has-feedback .form-control {
  padding-right: 43.75px;
}
.ipModuleForm .has-feedback .form-control-feedback {
  position: absolute;
  top: 26px;
  right: 0;
  display: block;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
}
.ipModuleForm .has-success .help-block,
.ipModuleForm .has-success .control-label,
.ipModuleForm .has-success .radio,
.ipModuleForm .has-success .checkbox,
.ipModuleForm .has-success .radio-inline,
.ipModuleForm .has-success .checkbox-inline {
  color: #3c763d;
}
.ipModuleForm .has-success .form-control {
  border-color: #3c763d;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.ipModuleForm .has-success .form-control:focus {
  border-color: #2b542c;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168;
}
.ipModuleForm .has-success .input-group-addon {
  color: #3c763d;
  border-color: #3c763d;
  background-color: #dff0d8;
}
.ipModuleForm .has-success .form-control-feedback {
  color: #3c763d;
}
.ipModuleForm .has-warning .help-block,
.ipModuleForm .has-warning .control-label,
.ipModuleForm .has-warning .radio,
.ipModuleForm .has-warning .checkbox,
.ipModuleForm .has-warning .radio-inline,
.ipModuleForm .has-warning .checkbox-inline {
  color: #8a6d3b;
}
.ipModuleForm .has-warning .form-control {
  border-color: #8a6d3b;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.ipModuleForm .has-warning .form-control:focus {
  border-color: #66512c;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c0a16b;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c0a16b;
}
.ipModuleForm .has-warning .input-group-addon {
  color: #8a6d3b;
  border-color: #8a6d3b;
  background-color: #fcf8e3;
}
.ipModuleForm .has-warning .form-control-feedback {
  color: #8a6d3b;
}
.ipModuleForm .has-error .help-block,
.ipModuleForm .has-error .control-label,
.ipModuleForm .has-error .radio,
.ipModuleForm .has-error .checkbox,
.ipModuleForm .has-error .radio-inline,
.ipModuleForm .has-error .checkbox-inline {
  color: #b80000;
}
.ipModuleForm .has-error .form-control {
  border-color: #b80000;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.ipModuleForm .has-error .form-control:focus {
  border-color: #850000;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ff1f1f;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ff1f1f;
}
.ipModuleForm .has-error .input-group-addon {
  color: #b80000;
  border-color: #b80000;
  background-color: #f2dede;
}
.ipModuleForm .has-error .form-control-feedback {
  color: #b80000;
}
.ipModuleForm .form-control-static {
  margin-bottom: 0;
}
.ipModuleForm .help-block {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #737373;
}
@media (min-width: 768px) {
  .ipModuleForm .form-inline .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
  }
  .ipModuleForm .form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
  }
  .ipModuleForm .form-inline .input-group > .form-control {
    width: 100%;
  }
  .ipModuleForm .form-inline .control-label {
    margin-bottom: 0;
    vertical-align: middle;
  }
  .ipModuleForm .form-inline .radio,
  .ipModuleForm .form-inline .checkbox {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    vertical-align: middle;
  }
  .ipModuleForm .form-inline .radio input[type="radio"],
  .ipModuleForm .form-inline .checkbox input[type="checkbox"] {
    float: none;
    margin-left: 0;
  }
  .ipModuleForm .form-inline .has-feedback .form-control-feedback {
    top: 0;
  }
}
.ipModuleForm .form-horizontal .control-label,
.ipModuleForm .form-horizontal .radio,
.ipModuleForm .form-horizontal .checkbox,
.ipModuleForm .form-horizontal .radio-inline,
.ipModuleForm .form-horizontal .checkbox-inline {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 7px;
}
.ipModuleForm .form-horizontal .radio,
.ipModuleForm .form-horizontal .checkbox {
  min-height: 28px;
}
.ipModuleForm .form-horizontal .form-group {
  margin-left: -20px;
  margin-right: -20px;
}
.ipModuleForm .form-horizontal .form-control-static {
  padding-top: 7px;
}
@media (min-width: 768px) {
  .ipModuleForm .form-horizontal .control-label {
    text-align: right;
  }
}
.ipModuleForm .form-horizontal .has-feedback .form-control-feedback {
  top: 0;
  right: 20px;
}
@-webkit-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
@keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
.ipModuleForm .progress {
  overflow: hidden;
  height: 21px;
  margin-bottom: 21px;
  background-color: #f5f5f5;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
.ipModuleForm .progress-bar {
  float: left;
  width: 0%;
  height: 100%;
  font-size: 12px;
  line-height: 21px;
  color: #ffffff;
  text-align: center;
  background-color: #019bd4;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -webkit-transition: width 0.6s ease;
  transition: width 0.6s ease;
}
.ipModuleForm .progress-striped .progress-bar {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-size: 40px 40px;
}
.ipModuleForm .progress.active .progress-bar {
  -webkit-animation: progress-bar-stripes 2s linear infinite;
  animation: progress-bar-stripes 2s linear infinite;
}
.ipModuleForm * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.ipModuleForm .form-group {
  margin-bottom: 20px;
}
.ipModuleForm .form-control {
  max-width: 380px;
}
.ipModuleForm textarea.form-control {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  height: 10em;
}
.ipModuleForm .progress {
  margin-bottom: 0;
}
.ipModuleForm .help-hint {
  background-color: #747474;
  color: #fff;
  display: none;
  font-size: 12px;
  padding: 4px 10px 2px;
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
  z-index: 1;
}
.ipModuleForm .help-error {
  background-color: #b80000;
  color: #fff;
  display: none;
  font-size: 12px;
  max-width: 380px;
  padding: 4px 10px 2px;
  width: 100%;
}
.ipModuleForm .has-error .help-error {
  display: block;
}
.ipModuleForm .form-group:hover .help-hint {
  display: block;
}
.ipModuleForm .captcha img {
  display: block;
  max-width: 100%;
}
.ipModuleForm .form-group.type-blank {
  margin-bottom: 0;
}
.ipModuleForm .form-group.type-blank label {
  display: none;
}
.ipModuleForm .form-group.type-blank .help-error {
  margin-bottom: 20px;
}
.ipModuleForm .form-group.type-submit label {
  display: none;
}
.ipModuleForm ._file {
  min-height: 20px;
  padding: 0.5em;
  margin-top: 5px;
  background-color: #a7a7a7;
  border: 1px solid #747474;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  max-width: 380px;
  position: relative;
}
.ipModuleForm ._file .close {
  float: right;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.2;
  filter: alpha(opacity=20);
}
.ipModuleForm ._file .close:hover,
.ipModuleForm ._file .close:focus {
  text-decoration: none;
  cursor: pointer;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.ipModuleForm ._file button.close {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}
.ipModuleForm ._file ._error {
  color: #b80000;
  font-size: 12px;
}
.ipModuleForm .btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.5;
  border-radius: 3px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.ipModuleForm .btn-default {
  background: #019bd4;
  border: none;
  border-radius: 3px;
  color: #ffffff;
  cursor: pointer;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: bold;
  margin: 0;
  padding: 0.5em 1em;
}
.ipModuleForm .btn-default:hover {
  box-shadow: 0 0 0 1px #019bd4 inset;
  background: #01516e;
}
@media (min-width: 768px) {
  .ipModuleForm.form-inline .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
  }
  .ipModuleForm.form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
  }
  .ipModuleForm.form-inline .input-group > .form-control {
    width: 100%;
  }
  .ipModuleForm.form-inline .control-label {
    margin-bottom: 0;
    vertical-align: middle;
  }
  .ipModuleForm.form-inline .radio,
  .ipModuleForm.form-inline .checkbox {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    vertical-align: middle;
  }
  .ipModuleForm.form-inline .radio input[type="radio"],
  .ipModuleForm.form-inline .checkbox input[type="checkbox"] {
    float: none;
    margin-left: 0;
  }
  .ipModuleForm.form-inline .has-feedback .form-control-feedback {
    top: 0;
  }
}
.ipModuleForm.form-horizontal .control-label,
.ipModuleForm.form-horizontal .radio,
.ipModuleForm.form-horizontal .checkbox,
.ipModuleForm.form-horizontal .radio-inline,
.ipModuleForm.form-horizontal .checkbox-inline {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 7px;
}
.ipModuleForm.form-horizontal .radio,
.ipModuleForm.form-horizontal .checkbox {
  min-height: 28px;
}
.ipModuleForm.form-horizontal .form-group {
  margin-left: -20px;
  margin-right: -20px;
}
.ipModuleForm.form-horizontal .form-control-static {
  padding-top: 7px;
}
@media (min-width: 768px) {
  .ipModuleForm.form-horizontal .control-label {
    text-align: right;
  }
}
.ipModuleForm.form-horizontal .has-feedback .form-control-feedback {
  top: 0;
  right: 20px;
}
.ipBlock {
  min-height: 10px;
  /* to create minimum height when block is empty */
}
.ipBlock.ipbEmpty {
  /* styles when block is empty */
  min-height: 30px;
  outline: #000 dashed 1px;
}
.ipBlock.ipbEmpty:hover {
  /* styles when block is empty */
  outline-color: #019bd4;
}
.ipBlock .ipbExampleContent {
  position: relative;
}
.ipBlock .ipbExampleContent:after {
  background-color: #e3e3e3;
  content: ' ';
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  opacity: 0.3;
  filter: alpha(opacity=30);
  top: 0;
  width: 100%;
}
.ipBlock .ipbExampleContent .ipWidget:hover {
  outline: none;
}
.ipBlock .ipbExampleContent .ipbDefault {
  color: #2f313f;
  font-size: 24px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  height: 50px;
  line-height: 50px;
  visibility: hidden;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  z-index: 2;
}
.ipBlock .ipbExampleContent .ipbUser {
  position: relative;
  margin-top: -50px;
  /* same height as .ipbDefault to show on top of it */
  min-height: 50px;
  /* same height as .ipbDefault to show on top of it */
}
.ipBlock .ipbExampleContent:hover .ipbDefault {
  visibility: visible;
}
.ipBlock .ipbExampleContent:hover .ipbUser {
  visibility: hidden;
}
.breadcrumb {
  margin-bottom: 20px;
  list-style: none;
  padding: 0;
}
.breadcrumb > li {
  display: inline-block;
}
.breadcrumb > li + li:before {
  content: "/\00a0";
  padding: 0 0.5em;
  color: #000000;
}
.breadcrumb > .active {
  color: #000000;
}
.ipWidget-Columns ._container {
  margin: 0 -10px;
}
.ipWidget-Columns ._col {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  min-height: 1px;
  padding: 0 10px;
  position: relative;
}
@media screen and (max-width: 768px) {
  .ipWidget-Columns ._col {
    float: none;
    margin-bottom: 20px;
    width: auto !important;
  }
  .ipWidget-Columns ._col:last-child {
    margin-bottom: 0;
  }
}
.ipWidget-Divider.ipSkin-default {
  border-bottom: 1px solid #747474;
  height: 0;
}
.ipWidget-Divider.ipSkin-space {
  height: 25px;
}
.ipWidget-File ul {
  list-style: none;
  margin-left: 0;
}
.ipWidget-File a {
  color: #019bd4;
  font-weight: bold;
}
.ipWidget-File a:hover {
  text-decoration: underline;
}
.ipWidget-Form .ipwSuccess {
  /* mimicking the same styles as for form to keep message 'inside' the box */
  border: 1px solid #888;
  display: none;
  padding: 20px 25px;
}
.ipWidget-Gallery {
  margin-bottom: 0px;
}
.ipWidget-Gallery ._container {
  list-style: none;
  margin: 0 -10px;
}
.ipWidget-Gallery ._item {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  margin-bottom: 20px;
  padding: 0 10px;
  width: 24.99%;
}
.ipWidget-Gallery ._image {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  width: 100%;
}
@media screen and (max-width: 480px) {
  .ipWidget-Gallery ._container {
    margin: 0 -10px;
  }
  .ipWidget-Gallery ._item {
    margin-bottom: 20px;
    padding: 0 10px;
    width: 50%;
  }
}
.ipWidget-Html {
  max-width: 100%;
}
.ipWidget-Image img {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  /* to remove 3px space below the image (default rendering behavior) */
  max-width: 100%;
}
.ipWidget-Missing {
  /* covered by default styles */
}
.ipWidget-Text table,
.ipWidget-Text pre {
  max-width: 100%;
  overflow: auto;
}
.ipWidget-Heading {
  margin-bottom: 10px;
  margin-top: 30px;
}
.ipWidget-Heading:first-child {
  margin-top: 0;
}
.ipWidget-Heading a {
  color: #000000;
  text-decoration: inherit;
}
.ipWidget-Heading a:hover {
  text-decoration: underline;
}
/*
=================================================
                    Defaults
=================================================
*/
.ipWidget:before,
.ipModuleForm .ipmField:before,
.clearfix:before,
.ipWidget:after,
.ipModuleForm .ipmField:after,
.clearfix:after,
.ipModuleForm .form-horizontal .form-group:before,
.ipModuleForm .form-horizontal .form-group:after,
.ipModuleForm.form-horizontal .form-group:before,
.ipModuleForm.form-horizontal .form-group:after {
  content: '.';
  display: block;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0;
}
.ipWidget:after,
.ipModuleForm .ipmField:after,
.clearfix:after,
.ipModuleForm .form-horizontal .form-group:after,
.ipModuleForm.form-horizontal .form-group:after {
  clear: both;
}
/*
=================================================
                  Form Module
=================================================
*/
.buttonStyle {
  background: none repeat scroll 0 0;
  display: inline-block;
  cursor: pointer;
  margin: 0 0 0 0;
  padding: 10px 15px;
  border: 0 none;
  color: #FFFFFF;
  font-family: Arial,sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 12px;
  text-transform: none;
  text-align: center;
  color: white;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.buttonStyle:hover {
  background: #8f8f8f;
  color: white;
}
.buttonStyle:active {
  position: relative;
  top: 1px;
}
.ipModuleForm .form-group {
  /* http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified */
  /*
The following zoom:1 rule is specifically for IE6 + IE7.
Move to separate stylesheet if invalid CSS is a problem.
*/
  zoom: 1;
  *zoom: 1;
  margin-bottom: 25px;
  position: relative;
}
.ipModuleForm .form-group:before,
.ipModuleForm .form-group:after {
  content: '.';
  display: block;
  font-size: 0;
  height: 0;
  line-height: 0;
  overflow: hidden;
  visibility: hidden;
  width: 0;
}
.ipModuleForm .form-group:after {
  clear: both;
}
.ipModuleForm .form-group:before,
.ipModuleForm .form-group:after {
  content: '.';
  display: block;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0;
}
.ipModuleForm .form-group:after {
  clear: both;
}
.ipModuleForm .form-group:before,
.ipModuleForm .form-group:after {
  content: " ";
  display: table;
}
.ipModuleForm .form-group:after {
  clear: both;
}
.ipModuleForm .ipmType-blank {
  margin: -16px 0 0;
  position: absolute;
}
.ipModuleForm .ipmField:last-child {
  margin-bottom: 0;
}
.ipModuleForm .textableInputs {
  background: #ffffff;
  border: 1px solid #e3e3e3;
  font-size: 15px;
  color: #828282;
  padding: 8px 13px 8px 8px;
}
.ipModuleForm .form-group label {
  display: block;
  float: left;
  min-height: 1px;
  width: 100%;
  max-width: 150px;
  padding-right: 30px;
  margin-top: 3px;
  font-weight: normal;
  color: #828282;
  font-size: 15px;
  text-align: right;
}
.ipModuleForm .ipmMarker {
  color: #b14343;
}
.ipModuleForm .ipmControl {
  position: relative;
  float: left;
  width: 56%;
}
.ipModuleForm .ipmControlBlank {
  height: 0;
  margin: 0;
  padding: 0;
  visibility: hidden;
  width: 0;
}
.ipModuleForm .form-control {
  background: #ffffff;
  border: 1px solid #e3e3e3;
  font-size: 15px;
  color: #828282;
  padding: 8px 13px 8px 8px;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  max-width: 220px;
  width: 100%;
}
.ipModuleForm .form-control:focus {
  border: 1px solid #e3e3e3;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.ipModuleForm .type-textarea textarea {
  background: #ffffff;
  border: 1px solid #e3e3e3;
  font-size: 15px;
  color: #828282;
  padding: 8px 13px 8px 8px;
  min-height: 120px;
  max-width: 620px;
  width: 100%;
  resize: vertical;
}
.ipModuleForm .type-submit button {
  background: none repeat scroll 0 0;
  display: inline-block;
  cursor: pointer;
  margin: 0 0 0 0;
  padding: 10px 15px;
  border: 0 none;
  color: #FFFFFF;
  font-family: Arial,sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 12px;
  text-transform: none;
  text-align: center;
  color: white;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.ipModuleForm .type-submit button:hover {
  background: #8f8f8f;
  color: white;
}
.ipModuleForm .type-submit button:active {
  position: relative;
  top: 1px;
}
.ipModuleForm .ipmType-select {
  margin-bottom: 31px;
}
.ipModuleForm .ipmControlConfirmOptions {
  float: left;
  margin-left: 10px;
}
.ipModuleForm .help-error {
  max-width: 370px;
}
.ipModuleForm .captcha {
  float: left;
  margin-top: 5px;
}
.ipModuleForm .captcha img {
  display: block;
  max-width: 100%;
}
.ipModuleForm .ipmFileContainer .ipmHiddenInput {
  width: 0;
  height: 0;
  overflow: hidden;
}
.ipModuleForm .ipmFileContainer .ipmHiddenInput input {
  margin: 0;
  padding: 0;
}
.ipModuleForm .ipmFileContainer .ipmFileProgress {
  border: 1px solid #333;
  height: 3px;
}
.ipModuleForm .ipmFileContainer .ipmFile {
  margin-top: 5px;
  background-color: #f2f2f2;
  padding: 5px 10px;
  color: #828282;
}
.ipModuleForm .ipmFileContainer .ipmFileProgressValue {
  background-color: #ccc;
  height: 3px;
}
.ipModuleForm .ipmFileContainer .ipmRemove {
  width: 13px;
  height: 13px;
  background: url(../img/file_remove.png) no-repeat;
  float: right;
  cursor: pointer;
  margin: 7px 0 0 0;
}
.ipModuleForm .ipmFileContainer .ipmUploadError {
  color: #da0001;
  font-size: 11px;
}
/*
    Form: Error
*/
.ipModuleForm .ipmError .ipmLabel {
  color: #b14343;
}
.ipModuleForm .ipmControlError {
  border-color: #b14343;
}
.ipmErrorMessage {
  color: #b14343;
  font-size: 11px;
  height: 11px;
}
/*
    Form: Success  
*/
.ipWidget-Form .ipwSuccess {
  display: none;
  padding: 20px 25px;
  font-size: 24px;
}
.ipWidget-Form .ipwSuccess p {
  color: #3db079;
}
@media only screen and (max-width: 600px) {
  .ipModuleForm .ipmLabel {
    text-align: left;
  }
  .ipModuleForm .ipmControl {
    width: 87.5%;
  }
  .ipModuleForm .ipmControlInput {
    width: 100%;
  }
}
/*
=================================================
                    Widgets
=================================================
*/
.ipBlock.ipbEmpty {
  min-height: 30px;
  outline: #019bd4 dashed 1px;
}
.ipWidget {
  margin-bottom: 25px;
}
.ipWidget:last-child {
  margin-bottom: 0;
}
.footer-container .ipWidget {
  margin-bottom: 10px;
}
.ipWidget p:last-child,
.ipWidget ul:last-child,
.ipWidget ol:last-child {
  margin-bottom: 0;
}
.ipWidget h1,
.ipWidget h2,
.ipWidget h3 {
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  color: #595858;
  /*text-align: center;*/
}
.ipWidget h1,
.ipWidget h2,
.ipWidget h3,
.ipWidget h1 a,
.ipWidget h2 a,
.ipWidget h3 a {
  margin: 5px 0 0 0;
  text-decoration: none;
}
.ipWidget.ipSkin-fancy {
  background: url(../img/sign.png) no-repeat center bottom;
  text-align: center;
  padding-bottom: 55px;
}
.ipWidget.ipSkin-fancy h1 {
  text-transform: uppercase;
  font-size: 32px;
  line-height: 36px;
}
.ipWidget h1 {
  font-size: 28px;
  line-height: 32px;
}
.ipWidget h2 {
  margin-bottom: -15px;
  font-size: 24px;
  line-height: 26px;
}
.ipWidget h3 {
  font-size: 20px;
  line-height: 24px;
  color: #868686;
  /*margin-bottom: -20px;*/
}
.ipWidget p {
  color: #828282;
  line-height: 24px;
  font-size: 13px;
  margin: 0;
  margin-bottom: 20px;
}
.ipWidget ul {
  list-style-position: inside;
  list-style-type: square;
  margin: 0 0 20px -10px;
}
.ipWidget ol {
  list-style-position: inside;
  margin: 0 0 20px -10px;
}
.ipWidget li {
  line-height: 24px;
  margin-bottom: 4px;
  color: #828282;
  font-size: 13px;
}
.ipWidget ul ul,
.ipWidget ol ol,
.ipWidget ul ol,
.ipWidget ol ul {
  margin-bottom: 0;
}
.ipWidget p + ul,
.ipWidget p + ol {
  margin-top: -20px;
}
.ipWidget a {
  text-decoration: none;
}
.ipWidget a:hover {
  text-decoration: underline;
}
.ipWidget .caption {
  font-weight: bold;
}
.ipWidget .signature {
  font-size: 16px;
  font-style: italic;
}
.ipWidget .note {
  color: #000;
  display: block;
  font-size: 16px;
  font-style: italic;
  margin: 0 30px 25px;
}
.ipWidget table {
  border-collapse: collapse;
  color: #828282;
  font-size: 15px;
  width: 100% !important;
  margin-bottom: 25px;
}
.ipWidget table p {
  line-height: auto;
  margin: 0;
}
.ipWidget td {
  border-bottom: 0;
  font-size: 15px;
  padding: 9px 17px;
  text-align: center;
}
.ipWidget tr:nth-child(odd) {
  background: #f6f6f6;
}
.ipWidget th,
.ipWidget thead td,
.ipWidget tbody tr:first-child td {
  background: #adadad;
  border: none;
  font-size: 15px;
  color: #fff;
  text-shadow: 1px 1px 1px #000000;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  filter: dropshadow(color=#000000, offx=1, offy=1);
}
.ipWidget thead + tbody tr:first-child td {
  background-color: transparent;
  border-bottom: 1px solid #b2b2b2;
  color: inherit;
  font-size: 12px;
  font-weight: normal;
}
.footer-container .ipWidget p,
.footer-container p {
  font-size: 13px;
}
.footer-container .ipWidget p,
.footer-container p,
.footer-container .ipWidget li,
.footer-container li {
  color: #a8a7a7;
}
.footer-container .ipWidget h1,
.footer-container h1,
.footer-container .ipWidget h2,
.footer-container h2,
.footer-container .ipWidget h3,
.footer-container h3,
.footer-container .ipWidget h1 a,
.footer-container h1 a,
.footer-container .ipWidget h2 a,
.footer-container h2 a,
.footer-container .ipWidget h3 a,
.footer-container h3 a {
  font: 16px/26px Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  color: #595858;
  margin: 5px 0 0 0;
  text-decoration: none;
  text-align: left;
}
/*
    Responsive tables
*/
table th {
  font-weight: bold;
}
table td,
table th {
  padding: 9px 10px;
  text-align: left;
}
/* Mobile */
@media only screen and (max-width: 768px) {
  table.responsive {
    margin-bottom: 0;
  }
  .pinned {
    position: absolute;
    left: 0;
    top: 0;
    background: #fff;
    width: 35%;
    overflow: hidden;
    overflow-x: scroll;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
  }
  .pinned table {
    border-right: none;
    border-left: none;
    width: 100%;
  }
  .pinned table th,
  .pinned table td {
    white-space: nowrap;
  }
  .pinned td:last-child {
    border-bottom: 0;
  }
  div.table-wrapper {
    position: relative;
    margin-bottom: 20px;
    overflow: hidden;
    border-right: 1px solid #ccc;
  }
  div.table-wrapper div.scrollable table {
    margin-left: 35%;
  }
  div.table-wrapper div.scrollable {
    overflow: scroll;
    overflow-y: hidden;
  }
  table.responsive td,
  table.responsive th {
    position: relative;
    white-space: nowrap;
    overflow: hidden;
  }
  table.responsive th:first-child,
  table.responsive td:first-child,
  table.responsive td:first-child,
  table.responsive.pinned td {
    display: none;
  }
}
/*
    Images gallery
*/
.ipWidget-Gallery {
  margin-bottom: 0;
}
.ipWidget-Gallery ._container {
  list-style-type: none;
}
.ipWidget-Gallery ._container ._item {
  display: inline-block;
}
.ipWidget-Gallery ._container ._item a,
.ipWidget-Gallery ._container ._item img {
  display: inline-block;
}
.ipWidget-Gallery ._container ._item a {
  position: relative;
  z-index: 1;
}
.ipWidget-Gallery ._container ._item a .hover {
  background: url(../img/image_icon.png) no-repeat center center;
  position: absolute;
  display: none;
  z-index: 2;
  right: 0;
  top: 0;
  width: 40px;
  height: 40px;
  text-align: left;
}
.layout-narrow .ipWidget-Gallery ul li {
  max-width: 241px;
}
/* To fix conflict with ImpressPages images uploader */
.ipUploadImage {
  max-width: none;
}
/*
    Image gallery responsive styles
*/
@media only screen and (min-width: 1px) {
  .ipWidget-Gallery ul {
    text-align: center;
  }
  .ipWidget-Gallery ul li {
    margin: 0 0 40px 40px;
  }
}
@media only screen and (min-width: 500px) {
  .ipWidget-Gallery ul li {
    margin: 0 0 32px 32px;
  }
}
@media only screen and (min-width: 1160px) {
  .ipWidget-Gallery ul li {
    float: left;
  }
}
/*
    Image widget
*/
.ipWidget-IpImage img {
  display: block;
}
/*
    Text + Image widget
*/
.ipWidget-IpTextImage .ipwImage {
  float: left;
  width: 48%;
}
.ipWidget-IpTextImage .ipwText {
  float: right;
  width: 48%;
  max-width: 490px;
}
.ipWidget-IpTextImage.ipLayout-right .ipwImage {
  float: right;
}
.ipWidget-IpTextImage.ipLayout-right .ipwText {
  float: left;
}
@media only screen and (max-width: 768px) {
  .ipWidget-IpTextImage .ipwImage {
    float: left;
    width: 100%;
    max-width: 100%;
  }
  .ipWidget-IpTextImage .ipwText {
    float: right;
    width: 100%;
  }
  .ipWidget-IpTextImage.ipLayout-right .ipwImage {
    float: right;
  }
  .ipWidget-IpTextImage.ipLayout-right .ipwText {
    float: left;
  }
}
/*
    Files widget
*/
.ipWidget-IpFile ul {
  list-style: none;
  margin-left: 0;
  margin: 0;
  padding: 0;
}
.ipWidget-IpFile ul li {
  margin-bottom: 4px;
  margin: 0;
  padding: 0;
}
.ipWidget-IpFile ul li a {
  font-weight: bold;
  font-size: 14px;
  font-style: italic;
  word-wrap: break-word;
  text-decoration: none;
}
.ipWidget-IpFile ul li a:hover {
  text-decoration: underline;
}
/*
    Divider widget
*/
.ipWidget-Divider {
  width: 100%;
}
.ipWidget-Divider.ipSkin-default {
  height: 0;
  border-bottom: 1px solid #e3e3e3;
}
.ipWidget-Divider.ipSkin-space {
  border-bottom: 1px solid #e3e3e3;
  height: 45px;
}
/*
    HTML code widget
*/
/* 
    Inline Management 
*/
.ipModuleInlineManagement.ipmEmpty {
  outline: #019bd4 dashed 1px;
}
.ipsModuleInlineManagementImage.featured-image {
  height: auto !important;
}
html,
button,
input,
select,
textarea {
  color: #222;
}
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
img {
  vertical-align: middle;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
textarea {
  resize: vertical;
}
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
body {
  font: 16px/26px Arial, "Helvetica Neue", Helvetica, sans-serif;
  background: #f9f8f8;
  overflow-x: hidden;
}
.wrapper {
  width: 100%;
  margin: 0 auto;
}
.border-box {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */
.clearfix,
.ipModuleForm .form-horizontal .form-group,
.ipModuleForm.form-horizontal .form-group {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after,
.ipModuleForm .form-horizontal .form-group:before,
.ipModuleForm .form-horizontal .form-group:after,
.ipModuleForm.form-horizontal .form-group:before,
.ipModuleForm.form-horizontal .form-group:after {
  content: " ";
  display: table;
}
.clearfix:after,
.ipModuleForm .form-horizontal .form-group:after,
.ipModuleForm.form-horizontal .form-group:after {
  clear: both;
}
.clear {
  clear: both;
  height: 1px;
  overflow: hidden;
}
/* ==========================================================================
   Jquery plugins stylesheets
   ========================================================================== */
/*
  Custom checkbox and radio inputs UI
*/
.prettycheckbox,
.prettyradio {
  display: inline-block;
  padding: 0;
  margin: 0;
}
.prettycheckbox a,
.prettyradio a {
  background: url(../img/prettyCheckable-grey.png) top left no-repeat;
  width: 27px;
  height: 27px;
  display: block;
  float: left;
  cursor: pointer;
  margin: 0;
  border: 0;
}
.prettycheckbox a:focus,
.prettyradio a:focus {
  outline: 0 none;
}
.prettycheckbox label,
.prettyradio label {
  display: block;
  float: left;
  margin: 1px 25px 1px 10px;
  cursor: pointer;
  font-size: 15px;
  color: #828282;
}
.prettyradio a {
  background-position: right top;
}
.prettyradio a.checked {
  background-position: right -74px;
}
.prettycheckbox {
  float: left;
}
.prettycheckbox a.checked {
  background-position: left -75px;
}
.prettycheckbox label {
  display: none;
}
.selectBox {
  display: block !important;
  position: absolute;
  top: 0;
  left: 0;
  min-width: 150px;
  height: 33px;
  z-index: -1;
  margin-bottom: 6px;
}
.selectBox-dropdown {
  min-width: 150px;
  border: solid 1px #BBB;
  line-height: 1.5;
  text-decoration: none;
  text-align: left;
  color: #000;
  outline: none;
  vertical-align: middle;
  cursor: default;
  z-index: 2 !important;
  position: absolute;
  top: 0;
  left: 0;
  margin-bottom: 6px;
  background: #ffffff;
  border: 1px solid #e3e3e3;
  font-size: 15px;
  color: #828282;
  padding: 0px 13px 0px 8px;
}
.selectBox-dropdown:focus,
.selectBox-dropdown:focus .selectBox-arrow {
  border-color: #bbaed0;
  outline: none;
}
.selectBox-dropdown .selectBox-label {
  padding: 3px 8px 2px 0px;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  font-size: 15px;
  color: #828282;
  margin-top: 3px;
}
.selectBox-dropdown .selectBox-arrow {
  position: absolute;
  top: 0;
  right: 7px;
  width: 23px;
  height: 100%;
  background: url(../img/selectbox_arrow.png) 50% center no-repeat;
}
.selectBox-dropdown-menu {
  position: absolute;
  z-index: 99999;
  max-height: 200px;
  min-height: 1em;
  margin-top: -1px;
  border-left: 1px solid #e3e3e3;
  border-right: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;
}
.selectBox-inline {
  min-width: 150px;
  outline: none;
  border: solid 1px #BBB;
  background: #FFF;
  display: inline-block;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  overflow: auto;
}
.selectBox-inline:focus {
  border-color: #666;
}
/* Options */
.selectBox-options,
.selectBox-options li,
.selectBox-options li a {
  list-style: none;
  display: block;
  cursor: default;
  padding: 0;
  margin: 0;
}
.selectBox-options li a {
  font-size: 15px;
  color: #828282;
  line-height: 1.5;
  padding: 0 .5em;
  white-space: nowrap;
  overflow: hidden;
  background: #ffffff;
  height: 29px;
  padding-top: 6px;
}
.selectBox-options li.selectBox-hover a {
  background-color: #EEE;
}
.selectBox-options li.selectBox-disabled a {
  color: #888;
  background-color: transparent;
}
.selectBox-options .selectBox-optgroup {
  color: #666;
  background: #EEE;
  font-weight: bold;
  line-height: 1.5;
  padding: 0 .3em;
  white-space: nowrap;
}
/* ==========================================================================
   Theme styles
   ========================================================================== */
header.main .upper {
  background: #ffffff;
  min-height: 65px;
}
header.main .upper .wrapper {
  position: relative;
}
header.main .bottom {
  display: block;
  border-top: 1px solid #edecec;
  border-bottom: 1px solid #edecec;
}
header.main .logo,
header.main .logo a {
  text-decoration: none;
  text-align: left;
  font-size: 28px;
  margin: 0;
}
header.main nav {
  text-align: left;
  margin: 0;
}
header.main nav ul {
  padding: 0;
  margin: 0;
}
header.main nav ul.level1 {
  border-left: 1px solid #edecec;
  display: inline-block;
}
header.main nav ul.level1 li {
  margin-right: -4px;
}
header.main nav ul.level1 li:hover {
  background: #ffffff;
}
header.main nav ul.level1 li.active {
  background: #ffffff;
}
header.main nav ul.level1 > li a {
  display: inline-block;
  padding-top: 14px;
  padding-bottom: 14px;
  border-right: 1px solid #edecec;
}
header.main nav ul li {
  display: inline-block;
  position: relative;
}
header.main nav ul li a {
  font-size: 13px;
  font-weight: bold;
  color: #a4a4a4;
  text-decoration: none;
  text-transform: uppercase;
}
header.main nav ul li:hover .level2 {
  display: block;
}
header.main nav ul .level2 {
  border-top: 1px solid #edecec;
  border-left: 1px solid #edecec;
  border-right: 1px solid #edecec;
  background: #ffffff;
  position: absolute;
  display: none;
  z-index: 15;
  text-align: left;
  width: auto;
  top: 54px;
  left: -1px;
}
header.main nav ul .level2 a {
  display: block;
  font-size: 15px;
  font-weight: normal;
  border-right: none !important;
  padding: 0 18px;
  min-width: 180px;
  text-transform: none;
}
header.main nav ul .level2 li {
  border-bottom: 1px solid #edecec;
  display: block;
  margin: 0;
}
header.main nav .langs {
  padding: 0;
  background: #ffffff;
}
header.main nav .langs li {
  display: inline-block;
  margin: 0 4px;
}
header.main nav .langs li a {
  color: #828282;
}
.langs {
  margin: 0;
  padding: 0;
}
.langs a {
  text-decoration: none;
}
.social-icons-wrapper .social-icon {
  background: url(../img/social.png) no-repeat 0 0;
  display: inline-block;
  width: 30px;
  height: 30px;
  text-indent: -9999px;
  margin: 0 0 0 7px;
}
.social-icons-wrapper .social-icon.linkedin {
  background-position: 0 0;
}
.social-icons-wrapper .social-icon.facebook {
  background-position: -30px 0;
}
.social-icons-wrapper .social-icon.twitter {
  background-position: -60px 0;
}
.social-icons-wrapper .social-icon.gplus {
  background-position: -90px 0;
}
.main-container {
  max-width: 1140px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.main-container.full-width {
  max-width: none;
}
.post-image-container {
  background: #ffffff;
  border: 1px solid #edecec;
}
.post-image-container img {
  height: auto !important;
}
.footer-container .footer {
  background: #ffffff;
  border: 1px solid #edecec;
  position: relative;
  width: 100%;
  min-height: 80px;
}
.footer-container .copyright-container {
  display: block;
  left: 0;
  bottom: 0;
  color: #b6b6b6;
  width: 100%;
  margin-bottom: 30px;
}
.footer-container .copyright-container p {
  color: #b6b6b6;
  font-size: 12px;
}
.footer-container.no-widgets {
  padding: 0;
}
/*
    Contacts page
*/
#the-map {
  display: block;
  height: 530px;
  width: 100%;
}
#the-map img {
  max-width: none;
}
.contact-page {
  padding: 33px 0 0 0 !important;
}
#toTop {
  background: url(../img/up.png) no-repeat left top;
  text-decoration: none;
  position: fixed;
  bottom: 25px;
  right: 25px;
  overflow: hidden;
  width: 50px;
  height: 50px;
  border: none;
  text-indent: -100%;
}
#toTop:active,
#toTop:focus {
  outline: none;
}
/* ==========================================================================
   Media Queries
   ========================================================================== */
@media only screen and (min-width: 1px) {
  header.main {
    text-align: center;
  }
  header.main .logo {
    padding: 16px 0;
    text-align: center;
  }
  header.main nav {
    position: relative;
  }
  header.main nav select {
    display: none;
    width: 100%;
    padding: 5px;
    margin: 10px auto;
  }
  header.main nav .langs {
    margin: 0 0 10px 0;
  }
  header.main nav .langs li {
    display: inline-block;
  }
  .langs {
    display: inline-block;
    background: #ffffff;
    margin-bottom: 10px;
  }
  .langs li {
    display: inline-block;
    margin: 0 4px;
  }
  .langs li a {
    color: #828282;
  }
  .social-icons-wrapper {
    padding: 0 0 10px 0;
  }
  .footer-container {
    position: relative;
    padding: 20px 0 0 0;
    width: 100%;
  }
  .footer-container .footer {
    padding: 20px;
  }
  .footer-container .one,
  .footer-container .two {
    margin-bottom: 20px;
  }
  .footer-container .copyright-container {
    display: block;
    margin-top: 8px;
    width: 100%;
    text-align: center;
  }
  .footer-container .copyright-container p {
    font-size: 13px;
  }
  .post-image-container {
    margin: 20px 0 0 0;
  }
  .layout-wide .site-content {
    padding: 20px;
  }
  .layout-narrow .site-content {
    padding: 20px 13%;
    max-width: 74%;
  }
  .responsive-width {
    width: 90%;
  }
  .main-container {
    width: 90%;
  }
}
@media only screen and (min-width: 769px) {
  .main-container {
    margin: 0 auto;
  }
  header.main {
    text-align: left;
  }
  header.main .logo {
    float: left;
    text-align: left;
    padding: 0;
    margin: 13px 0 0 0;
  }
  header.main .social-icons-wrapper {
    float: right;
    padding: 0;
    margin: 16px 0 0 0;
  }
  header.main .social-icons-wrapper.with-langs {
    margin-right: 76px;
  }
  header.main nav ul li a {
    padding-left: 45px;
    padding-right: 45px;
  }
  .langs {
    background: #ffffff;
    border: 1px solid transparent;
    display: block;
    position: absolute;
    overflow: hidden;
    height: 35px;
    padding: 0 0 0 9px;
    margin: 10px 0 0 0;
    right: 0;
  }
  .langs:hover {
    border: 1px solid #edecec;
    height: auto;
    overflow: visible;
    z-index: 10;
  }
  .langs li {
    margin: 0;
    display: block;
    padding: 7px 0;
  }
  .langs li a {
    margin-right: 8px;
    color: #828282;
    text-decoration: none;
  }
  .langs li span {
    background: url(../img/langs_triangle.png) no-repeat center center;
    display: inline-block;
    width: 10px;
    height: 9px;
    padding: 1px;
  }
  .post-image-container {
    margin: 30px 0 0 0;
  }
  .layout-wide .site-content {
    padding: 40px;
  }
  .layout-narrow .site-content {
    padding: 40px 13%;
    max-width: 74%;
  }
  .footer-container {
    padding-top: 40px;
  }
  .footer-container .footer {
    padding: 29px;
  }
  .footer-container .one,
  .footer-container .two,
  .footer-container .three {
    float: left;
    width: 29%;
  }
  .footer-container .two {
    margin: 0 6.5%;
  }
  .footer-container .copyright-container p {
    float: left;
  }
}
@media only screen and (min-width: 1140px) {
  .wrapper {
    max-width: 1140px;
  }
  .main-container {
    width: 100%;
  }
  .responsive-width {
    width: 100%;
  }
}
/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links for images, or javascript/internal links
     */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
