
.menu { display:block; width: 100%; position: relative; margin:15px 0; z-index: 15; white-space:nowrap; }

.topmenu { margin-top:-10px;}
.topmenu ul {
  list-style: none; text-align: center;margin:0; padding:0; 
}
.topmenu .level1 > li {
  display: inline-block;
  position: relative;
}

.topmenu .level1 > li > a {
	position: relative;
	display: block;
  color: #fff;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 15px;
  line-height: 32px;
  text-shadow: none;
  padding: 0px 10px;
  margin-left: 10px;
  margin-bottom:15px;
}

.topmenu .level1 > li:hover > a,
.topmenu .level1 > li > a:hover {
  text-decoration: none;
	color: #fff;
}
.topmenu .level1 > .active > a,
.topmenu .level1 > .selected > a {
  text-decoration: none;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  	color: #fff;
}
.topmenu li:hover > ul {
  display: block;
}
.topmenu .level1 ul {
  display: none;
  margin: -1px 0 0 -1px;
  min-width: 200%;
  padding: 2px 0;
  position: absolute;
  z-index: 10;
  text-align:left;
}
.topmenu .level2 ul {
  margin-left: 100%;
  min-width: 0;
  top: 0;
}
.topmenu ul ul li {

}
.topmenu .level2 ul li {
  position: relative;
}
.topmenu .level2 a {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 400;
  color: #fff;
  font-size: 13px;
  line-height: 32px;
  text-shadow: none;
  padding: 0px 15px;
}
.topmenu .level2 a:hover {
  text-decoration: underline;
}
.topmenu .level2 .subnodes > a:after {
  content: '\25BC';
  position: absolute;
  right: 5px;
}
.topmenu .level2 .current a {
  text-decoration: none;
}

.topmenu a::before {
	position: absolute;
	top: -3px;
	left: 0;
	width: 100%;
	height: 3px;
	background: #fff;
	content: '';
	-webkit-transition: top 0.3s;
	-moz-transition: top 0.3s;
	transition: top 0.3s;
    filter:alpha(opacity=20); /* IE */
    -moz-opacity:0.2; /* Mozilla */
    opacity: 0.2;	
}

.topmenu a::after {
	position: absolute;
	top: 0;
	left: 0;
	width: 2px;
	height: 0px;
	background: #fff;
	content: '';
	-webkit-transition: height 0.3s;
	-moz-transition: height 0.3s;
	transition: height 0.3s;
	    filter:alpha(opacity=20); /* IE */
    -moz-opacity:0.2; /* Mozilla */
    opacity: 0.2;
}

.topmenu a:hover::after {
	height: 100%;
	    filter:alpha(opacity=20); /* IE */
    -moz-opacity:0.2; /* Mozilla */
    opacity: 0.2;
} 